<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    backupGlobals = "false"
    backupStaticAttributes = "false"
    colors = "true"
    convertErrorsToExceptions = "true"
    convertNoticesToExceptions = "true"
    convertWarningsToExceptions = "true"
    processIsolation = "false"
    stopOnFailure = "false"
    bootstrap = "vendor/autoload.php"
>
    <php>
        <env name="APP_ENV" value="test" force="true" />
        <env name="APP_DEBUG" value="false" force="true" />
        <env name="DATABASE_URL" value="mysql://root:password@127.0.0.1:3306/document_test?serverVersion=5.7" force="true" />
    </php>

    <testsuites>
        <testsuite name="main">
            <directory suffix=".php">tests/Design</directory>
            <directory suffix=".php">tests/DataEntry</directory>
            <directory suffix=".php">tests/Membership</directory>
            <directory suffix=".php">tests/App</directory>
        </testsuite>

        <testsuite name="examples">
            <directory suffix=".phpt">tests/examples</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>
