<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <div id="flashes">
            {% for message_type, flash_messages in app.session.flashBag.all %}
                {% for flash_message in flash_messages %}
                    <div class="alert alert-{{ message_type }}">{{ flash_message|trans() }}</div>
                {% endfor %}
            {% endfor %}
        </div>
    </body>
</html>
