{% extends 'base.html.twig' %}

{% block title %}{{ 'app.title.dashboard_index'|trans }}{% endblock %}

{% block body %}
    <section>
        {% include 'Document/my_documents.html.twig' with {'document_types': document_types } %}
    </section>
{% endblock %}
